@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter, Running In Blazor</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<h4>After this line, we're back in ASP.NET MVC</h4>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
